*.bag

images/
newRepere_images/
CheckArucoDetection/
CheckAprilDetection/
backup/
newRepere_images/


**/cache/

.config/
.ros/
.rviz/
.ssh/
.vscode-server/
excalibur/
.gnupg/
.local/
.dbus/
.dotnet/
.cache/